{
    "prettier/prettier": ["error", {"singleQuote": true, "parser": "flow"}],
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "arrowParens": "avoid"
}
