.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 290px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}