$color-orange-light: #f8a704;
$color-yellow-light: #ffcc00;
$color-gray-bold: #8e8e93;
$color-gray-medium: #aeaeb2;
$color-gray-normal: #c7c7cc;
$color-gray-light: #d1d1d6;
$color-gray-blur: #e5e5ea;
$color-gray-fade: #f2f2f7;
$primary-color-black: #000000;
$primary-color-white: #ffffff;